-# in app/views/projects/index.html.haml

%div{"ng-controller" => "ProjectsController as projects"}
  %span.col-md-6
    %h2 My Projects
    %div#accordian.panel-group{:role => "tablist", "aria-multiselectable" => "true"}
      %div.panel.panel-default
        -@current_user.projects.each do |p|
          %div.panel-heading{:role => "tab", :id => "heading#{p.id}", "ng-click" => "projects.showSprints()"}
            %h4.panel-title
              %a{"data-toggle" => "collapse", "data-parent" => "#accordian", :href => "#collapse#{p.id}", 
                 "aria-expanded" => "true", "aria-controls" => "collapse#{p.id}"}
                =p.project_name
          %div.panel-collapse.collapse{:id => "collapse#{p.id}", :role => "tabpanel", "aria-labelledby" => "heading#{p.id}"}
            %div.panel-body
              Something will go here
  
  %span.col-md-6.pull-right{"ng-show" => "projects.sprintsVisible"}
    %div.well
      %h1 Create Project
      %form{:role => "form", :method => "post"}
        %div.form-group
          %label{:for => "project_name"} Name
          %input.form-control{:placeholder => "Project name", :type => "name", :id => "project_name", :name => "project[project_name]"}
    
        %div.form-group
          %label Description
          %textarea.form-control{:placeholder => "Project description", :rows => "3", :name => "project[project_description]"}
    
        %div.form-group
          %label Github Repository
          %input.form-control{:placeholder => "Project repository", :type => "text", :name => "project[project_github]"}
  	
        %button.btn.btn-primary{:type => "submit"}
          Create
        
=javascript_include_tag 'projects'


