-# in app/views/projects/index.html.haml

%div.col-md-12
  %h2 My Projects
%div{"ng-controller" => "ProjectsController as projects"}
  %span.col-md-6
    %div#accordian.panel-group{:role => "tablist", "aria-multiselectable" => "true"}
    - if current_user
      - current_user.projects.each do |p|
        %div.panel.panel-default
          %div.panel-heading{:role => "tab", :id => "heading#{p.id}"}
            %h4.panel-title
              %a{"data-toggle" => "collapse", "data-parent" => "#accordian", :href => "#collapse#{p.id}", 
                 "aria-expanded" => "true", "aria-controls" => "collapse#{p.id}", "ng-click" => "projects.showSprints(#{p.id})"}
                =p.project_name
                %span.badge.pull-right
                  =p.count_discussions
          %div.panel-collapse.collapse{:id => "collapse#{p.id}", :role => "tabpanel", "aria-labelledby" => "heading#{p.id}"}
            %div.panel-body
              %p
                Description: #{p.project_description} 
              %p
                Github Repo: #{p.project_github}
  
  %span.col-md-6.pull-right{"ng-show" => "sprintsVisible"}
    %div.well
      %ul.list-group
        %li.list-group-item.active
          Sprints
        %li.list-group-item{"ng-repeat" => "sprint in sprints"}
          %button.btn.btn-link 
            {{sprint.sprint_start_date}} - {{sprint.sprint_end_date}}
          %span.badge.pull-right
            {{sprint.discussions}}
        %li.list-group-item
          %div#form.panel-group{:role => "tablist", "aria-multiselectable" => "true"}
            %div.panel.panel-default
              %div#formHeading.panel-heading{:role => "tab"}
                %h4.panel-title
                  %a{"data-toggle" => "collapse", "data-parent" => "#form", :href => "#collapseForm", 
                     "aria-expanded" => "true", "aria-controls" => "#collapseForm"}
                    New Sprint
                  %span.glyphicon.glyphicon-plus.pull-right
              %div#collapseForm.panel-collapse.collapse{:role => "tabpanel", "aria-labelledby" => "#formHeading"}
                %div.panel-body
                  %form{:role => "form"}
                    %div.form-group
                      %label{:for => "startDate"}
                        Sprint Start Date
                      %input#startDate.form-control{:type => "date", "ng-model" => "start_date"}
                    %div.form-group
                      %label{:for => "endDate"}
                        Sprint End Date
                      %input#endDate.form-control{:type => "date", "ng-model" => "end_date"}
                    %button.btn.btn-primary{:type => "submit", "ng-click" => "projects.validate()"}
                      Create
        
=javascript_include_tag 'projects'


