-# in app/views/projects/index.html.haml

- if current_user
  %div.col-md-12
    %h2 My Projects
    %a.button.btn.btn-link{:type => "button", :href => "/users/#{current_user.id}"}
      My Invites
      %span.badge
        #{current_user.invites.count}
  %div{"ng-controller" => "ProjectsController as projects"}
    %span.col-md-6
      %div#accordian.panel-group{:role => "tablist", "aria-multiselectable" => "true"}    
        - current_user.projects.each do |p|
          %div.panel.panel-default
            %div.panel-heading{:role => "tab", :id => "heading#{p.id}"}
              %h4.panel-title
                %a{"data-toggle" => "collapse", "data-parent" => "#accordian", :href => "#collapse#{p.id}", 
                   "aria-expanded" => "true", "aria-controls" => "collapse#{p.id}", "ng-click" => "projects.showSprints(#{p.id})"}
                  =p.project_name
                  %span.badge.pull-right
                    =p.count_discussions
            %div.panel-collapse.collapse{:id => "collapse#{p.id}", :role => "tabpanel", "aria-labelledby" => "heading#{p.id}"}
              %div.panel-body
                %p
                  Description: #{p.project_description} 
                %p
                  Github Repo: #{p.project_github}
                %p
                  Average Sprint Velocity: #{p.average_velocity}
                %p 
                  My Total Velocity: #{@velocities[p.id]}
                %div
                  %span.btn-group
                    %button.btn.btn-default.dropdown-toggle{:type => "button", "data-toggle" => "dropdown", "aria-expanded" => "false"}
                      Team members
                      %span.caret
                    %ul#menu.dropdown-menu{:role => "menu"}
                      -@teams[p.id].each do |member|
                        %li{:role => "presentation"}
                          %a{:role => "menuitem", :tabindex => "-1", :href => "#"}
                            #{member.name}
                      -p.pending_users.each do |pending|
                        %li{:role => "presentation"}
                          %a{:role => "menuitem", :tabindex => "-1"}
                            #{pending.name} (pending)
                      %li.divider{:role => "presentation"}
                      %li{:role => "presentation"}
                        %a{:role => "menuitem", :tabindex => "-1", :href => "#", "ng-click" => "projects.showInviteForm()"}
                          Invite User
                  %span
                    %a.btn.btn-primary.pull-right{:type => "button", :href => "/projects/#{p.id}/stories"}
                      My Stories
                %p
                  =form_tag "users/invite/#{p.id}", :method => :post do
                    %div.input-group{"ng-show" => "inviteVisible"}
                      %span.input-group-btn
                        %button.btn.btn-default{:type => "submit"}
                          Invite
                      %input.form-control{:placeholder => "User Email", :type => "email", :name => "email"}
                      %span.input-group-btn
                        %button.btn.btn-default{:type => "button", "ng-click" => "projects.hideInviteForm()"}
                          %span.glyphicon.glyphicon-remove

        %div.panel.panel-default
          %div#newProject.panel-heading{:role => "tab"}
            %h4.panel-title
              %a{"data-toggle" => "collapse", "data-parent" => "#accordian", :href => "#collapseNewProject", 
                "aria-expanded" => "true", "aria-controls" => "collapseNewProject", "ng-click" => "projects.hideAll()"}
                New Project
                %span.glyphicon.glyphicon-plus.pull-right
          %div#collapseNewProject.panel-collapse.collapse{:role => "tabpanel", "aria-labelledby" => "newProject"}
            %div.panel-body
              =form_tag projects_path, :method => :post, :name => "projectForm", :novalidate => "true" do
                %div.form-group
                  %label{:for => "project_name"} Name*
                  %input.form-control{:placeholder => "Project name", :type => "name", :id => "project_name", :name => "project[project_name]", "ng-model" => "project_n", :required => "true"}   
                %div.form-group
                  %label Description
                  %textarea.form-control{:placeholder => "Project description", :rows => "3", :name => "project[project_description]"}  
                %div.form-group
                  %label Github Repository
                  %input.form-control{:placeholder => "Project repository", :type => "text", :name => "project[project_github]"} 	
                %button.btn.btn-primary{:type => "submit", "ng-disabled" => "projectForm.$invalid"}
                  Create
                %p.help-block{"ng-hide" => "projectForm.$valid"}
                  *required
  
    %span.col-md-6{"ng-show" => "sprintsVisible"}
      %div.well
        %ul.list-group
          %li.list-group-item.active
            Sprints
          %li.list-group-item{"ng-repeat" => "sprint in sprints"}
            %div.panel.panel-default
              %div.panel-heading
                %h4.panel-title
                  %a{"ng-click" => "projects.viewScrumboard(sprint.project_id, sprint.id)", :href => "#"}
                    {{sprint.sprint_start_date}} - {{sprint.sprint_end_date}}
                    %span.badge.pull-right
                      {{sprint.discussions}}
              %div.panel-body
                %p
                  %u
                    %b At a glance
                %span.p.pull-right
                  Veloctiy: {{sprint.velocity}}
                %p
                  %i Stories (total/completed)
                  %br {{sprint.story_total}}/{{sprint.stories_completed}}
                %p
                  %i Tasks (total/completed)
                  %br {{sprint.task_total}}/{{sprint.tasks_completed}}
            -#%button.btn.btn-link{"ng-click" => "projects.viewScrumboard(sprint.project_id, sprint.id)"}
              -#{{sprint.sprint_start_date}} - {{sprint.sprint_end_date}}
            -#%span.badge.pull-right
              -#{{sprint.discussions}}
          %li.list-group-item
            %div#form.panel-group{:role => "tablist", "aria-multiselectable" => "true"}
              %div.panel.panel-default
                %div#formHeading.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", "data-parent" => "#form", :href => "#collapseForm", 
                       "aria-expanded" => "true", "aria-controls" => "#collapseForm"}
                      New Sprint
                      %span.glyphicon.glyphicon-plus.pull-right
                %div#collapseForm.panel-collapse.collapse{:role => "tabpanel", "aria-labelledby" => "#formHeading"}
                  %div.panel-body
                    %form{:role => "form", :name => "sprintForm"}
                      %div.form-group
                        %label{:for => "startDate"}
                          Sprint Start Date*
                        %input#startDate.form-control{:type => "date", "ng-model" => "start_date", :required => "true", :name => "start_date"}
                      %div.form-group
                        %label{:for => "endDate"}
                          Sprint End Date*
                        %input#endDate.form-control{:type => "date", "ng-model" => "end_date", :required => "true", :name => "end_date"}
                      %button.btn.btn-primary{:type => "submit", "ng-click" => "projects.createSprint()", "ng-disabled" => "sprintForm.$invalid"}
                        Create
                      %p.help-block{"ng-hide" => "sprintForm.$valid"}
                        *required
        
=javascript_include_tag 'projects'


