-# in app/views/projects/index.html.haml

%div.col-md-12
  %h2 My Projects
%div{"ng-controller" => "ProjectsController as projects"}
  %span.col-md-6
    %div#accordian.panel-group{:role => "tablist", "aria-multiselectable" => "true"}
      -@current_user.projects.each do |p|
        %div.panel.panel-default
          %div.panel-heading{:role => "tab", :id => "heading#{p.id}"}
            %h4.panel-title
              %a{"data-toggle" => "collapse", "data-parent" => "#accordian", :href => "#collapse#{p.id}", 
                 "aria-expanded" => "true", "aria-controls" => "collapse#{p.id}", "ng-click" => "projects.showSprints(#{p.id})"}
                =p.project_name
                %span.badge.pull-right
                  =p.count_discussions
          %div.panel-collapse.collapse{:id => "collapse#{p.id}", :role => "tabpanel", "aria-labelledby" => "heading#{p.id}"}
            %div.panel-body
              %p
                =p.project_description 
              %p
                =p.project_github
  
  %span.col-md-6.pull-right{"ng-show" => "sprintsVisible"}
    %div.well
      %ul.list-group
        %li.list-group-item.active
          Sprints
        %li.list-group-item{"ng-repeat" => "sprint in sprints"}
          %button.btn.btn-link 
            {{sprint.sprint_start_date}} - {{sprint.sprint_end_date}}
          %span.badge.pull-right
            {{sprint.discussions}}
        %li.list-group-item
          %button.btn.btn-link
            New Sprint
        
=javascript_include_tag 'projects'


