!!! 5
%html
  %head
    %title Scrumblr
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'ScrumblrApp'
    = csrf_meta_tags

  %body{'ng-app' => 'ScrumblrApp'}
    -#Extra stuff here like maybe put it in a container
    %div.col-md-12
      %div.well
        %div.h1 Scrumblr

        - if flash[:notice]
          %div.alert.alert-info{:role => 'alert'}
          =flash[:notice]
        - if current_user
          %p.welcome! You are logged in via #{current_user.provider} as #{current_user.name}
          %a.btn.btn-primary{:href => user_path(current_user)}
            %span View Profile
          %a.btn.btn-primary{:href => signout_path}
            %span Logout
        - else
          %p.login= link_to 'Sign in with github', '/auth/github'
        -#- if !session[:session_token]
          -#%p session token lost!

    = yield
