!!! 5
%html
  %head
    %title Scrumblr
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'ScrumblrApp'
    = csrf_meta_tags

  %body{'ng-app' => 'ScrumblrApp'}
  - if current_user
    %nav.navbar.navbar-default{role: 'navigation'}
      %div.navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "#"} Scrumblr
         
      %div.collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => '/projects'} Projects
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              #{current_user.github_username}
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => user_path(current_user)} View Profile
              %li
                %a{:href => signout_path} Sign Out
    = yield
  - else
    %nav.navbar.navbar-default{role: 'navigation'}
      %div.navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "#"} Scrumblr

      %div.collapse.navbar-collapse.navbar-ex1-collapse
        %ui.nav.navbar-nav.navbar-right
          %li
            = link_to 'Sign In Via GitHub', '/auth/github'

    = yield
